---
layout: default
---
<article class="post">
    <header class="post-header">
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
            @noneface · {{ page.date | date_to_string }}
        </div>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    <section class="disqus-section">
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = '{{ site.url }}{{ page.url }}';
                this.page.identifier = '{{ page.url }}';
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://noneface.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
    </section>
</article>
